<app-title
  [title]="'Meus projetos'"
  [subtitle]="'Veja meus projetos em destaque'"
></app-title>
<div class="projects-container">
  <div class="project-card">
    <img src="assets/projects/portifolio-dev.png" alt="Projeto Portifólio Dev" class="project-image" />
  
    <div class="project-info">
      <h3 class="project-title">Portifólio Dev</h3>
      <p class="project-description">
        Um portfólio de desenvolvedor de software, feito com Angular
      </p>
    </div>
  </div>

  <div class="project-card">
    <img src="assets/projects/chatbot-academico-frontend.png" alt="Projeto StageAI - Frontend" class="project-image" />
  
    <div class="project-info">
      <h3 class="project-title">StageAI - Frontend</h3>
      <p class="project-description">
        Chatbot acadêmico para estágios na UTFPR, projeto frontend
      </p>
    </div>
  </div>
  <div class="project-card">
    <img src="assets/projects/chatbot-academico-backend.png" alt="Projeto StageAI - Backend" class="project-image" />
  
    <div class="project-info">
      <h3 class="project-title">StageAI - Backend</h3>
      <p class="project-description">
        Chatbot acadêmico para estágios na UTFPR, projeto backend
      </p>
    </div>
  </div>
</div>