<app-title
  [title]="'Meus projetos'"
  [subtitle]="'Veja meus projetos em destaque'"
></app-title>
<div class="projects-container">
  <a class="project-card" href="https://github.com/luissavighago/portfolio-dev-frontend" target="_blank" rel="noopener noreferrer">
    <img src="assets/projects/portfolio-dev.png" alt="Projeto Portfólio Dev" class="project-image" />
  
    <div class="project-info">
      <h3 class="project-title">Portfólio</h3>
      <p class="project-description">
        Um portfólio de desenvolvedor de software, feito com Angular
      </p>
    </div>
  </a>

  <a class="project-card" href="https://github.com/luissavighago/chatbotAcademico-frontend" target="_blank" rel="noopener noreferrer">
    <img src="assets/projects/chatbot-academico-frontend.png" alt="Projeto StageAI - Frontend" class="project-image" />
  
    <div class="project-info">
      <h3 class="project-title">StageAI - Frontend</h3>
      <p class="project-description">
        Chatbot acadêmico para estágios na UTFPR, projeto frontend
      </p>
    </div>
  </a>

  <a class="project-card" href="https://github.com/luissavighago/ChatbotAcademico-backend" target="_blank" rel="noopener noreferrer">
    <img src="assets/projects/chatbot-academico-backend.png" alt="Projeto StageAI - Backend" class="project-image" />
  
    <div class="project-info">
      <h3 class="project-title">StageAI - Backend</h3>
      <p class="project-description">
        Chatbot acadêmico para estágios na UTFPR, projeto backend
      </p>
    </div>
  </a>
</div>