.header-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-bg-primary);
  padding: 16px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

.header-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: var(--secondary-color);
}