<div class="banner-container">
  <div class="info-container">
    <div class="banner-image-container">
      <img src="assets/profile_pic.jpg" alt="Foto de Luis Savighago"/>
    </div>
    <div class="banner-description">
      <p class="banner-greeting">Olá! Meu nome é <span class="highlight">Luis Savighago</span> e sou</p>
      <h1 class="banner-title">Desenvolvedor de Software</h1>
    </div>
  </div>
  <div class="scroll-down-icon">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </div>
</div>
