<app-title
  [title]="'Minhas habilidades'"
  [subtitle]="'Técnologias com que já trabalhei'"
></app-title>
<div class="skills-container">
  <div class="skill-level-title-container">
    <h6 class="skill-level-title">Experiência Avançada</h6>
    <span class="skill-level-description">Tecnologias com as quais tenho maior domínio e uso frequente</span>
  </div>
  <div class="skill-level-container">
    <div class="skill-item">Powerbuilder</div>
    <div class="skill-item">Java</div>
    <div class="skill-item">PostgreSQL</div>
    <div class="skill-item">Git</div>
  </div>

  <div class="skill-level-title-container">
    <h6 class="skill-level-title">Experiência Intermediária</h6>
    <span class="skill-level-description">Tecnologias que já usei em projetos ou no trabalho, com bom conhecimento prático</span>
  </div>
  <div class="skill-level-container">
    <div class="skill-item">Html</div>
    <div class="skill-item">CSS</div>
    <div class="skill-item">JavaScript</div>
    <div class="skill-item">Spring</div>
    <div class="skill-item">Node.js</div>
  </div>
  
  <div class="skill-level-title-container">
    <h6 class="skill-level-title">Experiência Inicial / Aprendizado</h6>
    <span class="skill-level-description">Tecnologias que estou explorando ou utilizei de forma pontual</span>
  </div>
  <div class="skill-level-container">
    <div class="skill-item">AngularJS</div>
    <div class="skill-item">Docker</div>
  </div>
</div>