.skills-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 48px;
}

.skills-container {
  display: flex;
  align-items: flex-start;
  gap: 24px;
}

.skill-item-container {
  display: flex;
  width: 100%;
  max-width: 300px;
  height: 100%;
}