<app-title
  [title]="'Minhas habilidades'"
  [subtitle]="'Técnologias com que já trabalhei'"
></app-title>
<div class="skills-container">
  <div class="skill-item-container">
    <app-skill-section
      [icon]="'rocket_launch'"
      [level]="'Experiência Avançada'"
      [description]="'Ferramentas de maior domínio e uso frequente'"
      [skills]="['Powerbuilder', 'Java', 'PostgreSQL', 'Git', 'Spring']"
    ></app-skill-section>
  </div>

  <div class="skill-item-container">
    <app-skill-section
      [icon]="'straighten'"
      [level]="'Experiência Intermediária'"
      [description]="'Tecnologias usadas em projetos e no trabalho'"
      [skills]="['Html', 'CSS', 'JavaScript', 'Node.js']" 
    ></app-skill-section>
  </div>
  
  <div class="skill-item-container">
    <app-skill-section
      [icon]="'child_care'"
      [level]="'Experiência Inicial'"
      [description]="'Tecnologias que estou explorando ou utilizei de forma pontual'"
      [skills]="['AngularJS', 'Docker', 'JUnit', 'Mockito']"
    ></app-skill-section>
  </div>
</div>