main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 70px;
}

.section {
  width: 1000px;
}

.highlight-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: var(--color-bg-dark);
  padding: 32px 0px;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--highlight-color);
  color: var(--text-color);
  border: none;
  border-radius: 50%;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-size: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 0;
  visibility: hidden;
}

.scroll-to-top.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.scroll-to-top:hover {
  background-color: var(--color-surface-hover);
}

@media screen and (max-width: 1200px) {
  .section {
    width: 800px;
  }
}

@media screen and (max-width: 850px) {
  .section {
    width: 580px;
  }
}

@media screen and (max-width: 650px) {
  .section {
    width: 448px;
  }
}

@media screen and (max-width: 500px) {
  .section {
    width: 320px;
  }
}