<!-- <app-header></app-header> -->
<main>
  <section class="section">
    <app-banner></app-banner>
  </section>
  <section class="section">
    <app-about></app-about>
  </section>
  <section class="section">
    <app-skills></app-skills>
  </section>
  <section class="highlight-section">
    <div class="section">
      <app-projects></app-projects>
    </div>
  </section>
  <section class="section">
    <app-contact></app-contact>
  </section>
</main>
<app-footer></app-footer>
<button class="scroll-to-top" [class.show]="showScrollToTop" (click)="scrollToTop()">
  <fa-icon [icon]="faArrowUp"></fa-icon>
</button>