<app-title
  [title]="'Sobre mim'"
  [subtitle]="'Me conheça melhor'"
></app-title>
<div class="about-container">
  <p>
    Sou Luis Fernando Savighago, desenvolvedor de software com 5 anos de experiência na área. Sou formado em Engenharia de Software pela UTFPR (Universidade Tecnológica Federal do Paraná) e atualmente curso uma pós-graduação voltada para a especialização na linguagem Java. Atuo como desenvolvedor na CISS (Consultoria em Informática, Serviços e Software S/A).
  </p>

  <ul class="about-list">
    <li>
      Desenvolvo funcionalidades em <strong>PowerBuilder</strong> e <strong>Java</strong> para sistemas PDV,
      utilizadas em clientes do comércio varejista de pequeno, médio e grande porte, gerando maior eficiência e
      confiabilidade nas operações.
    </li>
    <li>
      Participo de projetos de integração entre sistemas, simplificando fluxos de trabalho e conectando diferentes
      plataformas de forma consistente, permitindo que o cliente explore novas oportunidades de negócio e expanda suas
      operações.
    </li>
    <li>
      Atuo em times multidisciplinares com metodologias ágeis como <strong>Scrum</strong> e <strong>Kanban</strong>,
      favorecendo colaboração e entrega contínua de valor.
    </li>
  </ul>

  <p>
    Sou motivado por desafios técnicos, aprendizado contínuo e pela aplicação de boas práticas no desenvolvimento de software.
  </p>
</div>
