.about-container {
  color: var(--secondary-text-color);
}

.about-container p {
  line-height: 1.7;
  font-size: 1.1rem;
  padding-bottom: 24px;
}

@media screen and (max-width: 850px) {
  .about-container p {
    font-size: 0.9rem;
  }
}