<app-title
  [title]="'Sobre mim'"
  [subtitle]="'Me conheça melhor'"
></app-title>
<div class="about-container">
  <p>
    Sou Luis Fernando Savighago, desenvolvedor de software com 4 anos de experiência na área. Sou formado em Engenharia de Software pela UTFPR (Universidade Tecnológica Federal do Paraná) e, atualmente, atuo como desenvolvedor PowerBuilder na CISS (Consultoria em Informática, Serviços e Software S/A).
  </p>
  <p>
    Possuo vivência com metodologias ágeis, colaborando em times multidisciplinares e focados em entregas contínuas. Sou movido por tecnologia, aprendizado constante e desafios que exigem raciocínio lógico e boas práticas de código.
  </p>
</div>
