<app-title
  [title]="'Contato'"
  [subtitle]="'Gostou do meu trabalho?'"
  [description]="'Entre em contato ou acompanhe as minhas redes sociais!'"
></app-title>
<div class="contact-container">
  <a href="https://www.linkedin.com/in/luis-savighago-693aa3192/" target="_blank" class="contact-link">
    <div class="link-description">
      <fa-icon [icon]="faLinkedin" class="icon"></fa-icon>
      <span class="description">Linkedin</span>
    </div>
    <mat-icon class="arrow">arrow_outward</mat-icon>
  </a>
  <a href="https://instagram.com/luis_savighago" target="_blank" class="contact-link">
    <div class="link-description">
      <fa-icon [icon]="faInstagram" class="icon"></fa-icon>
      <span class="description">Instagram</span>
    </div>
    <mat-icon class="arrow">arrow_outward</mat-icon>
  </a>
  <a href="https://github.com/luissavighago" target="_blank" class="contact-link">
    <div class="link-description">
      <fa-icon [icon]="faGithub" class="icon"></fa-icon>
      <span class="description">GitHub</span>
    </div>
    <mat-icon class="arrow">arrow_outward</mat-icon>
  </a>
  <a href="mailto:luissavighago@gmail.com" class="contact-link" rel="noopener noreferrer">
    <div class="link-description">
      <fa-icon [icon]="faEnvelope" class="icon"></fa-icon>
      <span class="description">E-mail</span>
    </div>
    <mat-icon class="arrow">arrow_outward</mat-icon>
  </a>
</div>